<?xml version="1.0" encoding="utf-8"?>
<openbox_menu xmlns="http://openbox.org/3.5/menu">
    <menu execute="/usr/bin/obmenu-generator -i" id="desktop-app-menu" label="Aplicativos"/>
    <menu id="root-menu" label="Openbox 3">
        <separator label="Void Linux"/>
        <menu id="desktop-app-menu"/>
        <separator/>
        <item label="Editor de Texto">
            <action name="Execute">
                <execute>
                    mousepad
                </execute>
            </action>
        </item>
        <item label="Gerenciador de Arquivos">
            <action name="Execute">
                <execute>
                    thunar
                </execute>
            </action>
        </item>
        <item label="Navegador Web">
            <action name="Execute">
                <execute>
                    firefox
                </execute>
            </action>
        </item>
        <item label="Terminal">
            <action name="Execute">
                <execute>
                    sakura
                </execute>
            </action>
        </item>
        <separator/>
        <menu id="settings" label="Configurações">
            <menu id="obConfig" label="Openbox">
                <item label="Editar menu.xml">
                    <action name="Execute">
                        <execute>
                            mousepad ~/.config/openbox/menu.xml
                        </execute>
                    </action>
                </item>
                <item label="Editar rc.xml">
                    <action name="Execute">
                        <execute>
                            mousepad ~/.config/openbox/rc.xml
                        </execute>
                    </action>
                </item>
                <item label="Editar autostart">
                    <action name="Execute">
                        <execute>
                            mousepad ~/.config/openbox/autostart
                        </execute>
                    </action>
                </item>
                <item label="Editar Menu (GUI)">
                    <action name="Execute">
                        <execute>
                            obmenu
                        </execute>
                    </action>
                </item>
                <item label="Ferramenta de Configuração (GUI)">
                    <action name="Execute">
                        <execute>
                            obconf
                        </execute>
                    </action>
                </item>
                <item label="Recarregar Openbox">
                    <action name="Reconfigure"/>
                        <execute>
                            openbox --reconfigure
                        </execute>
                    </action>
                </item>
            </menu>
        <separator/>
        <item label="Executar">
            <action name="Execute">
                <execute>
                    rofi -show run
                </execute>
            </action>
        </item>
        <separator/>
        <item label="Sair">
            <action name="Exit">
                <execute>
                    cb-exit
                </execute>
            </action>
        </item>
        <item label="Bloquear Tela"> 
            <action name="Execute"> 
                <execute>
                    slimlock
                </execute> 
            </action> 
        </item>
        <item label="Reiniciar"> 
            <action name="Execute"> 
                <execute>
                    shutdown -r now
                </execute> 
           </action> 
        </item>
        <item label="Desligar"> 
            <action name="Execute"> 
                <execute>
                    shutdown -h now
                </execute> 
            </action> 
        </item>
    </menu>
</openbox_menu>
